.collection {

    height: calc(80vh - 71px);
    background: transparent;
    padding: 0;

    $wrapper-size: 220px;
    $votebar-size: 6px;
    $space-between: 20px;

    .content-wrapper {
        .image-wrapper {
            width: 100% !important;
            height: $wrapper-size !important;
            border-radius: $wrapper-size/2;
            margin-top: $space-between;
            position: relative;
            .doughnut {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: $wrapper-size !important;
                height: $wrapper-size !important;
            }
            img {
                width: $wrapper-size - 2*$votebar-size;
                height: $wrapper-size - 2*$votebar-size;
                object-fit: cover;
                position: absolute;
                top: $votebar-size;
                left: 50%;
                transform: translateX(-50%);
                border-radius: ($wrapper-size - 2*$votebar-size)/2;
            }
        }
    }
}