.login {
    text-align: center;

    md-input-container {
        margin: auto 10% 20px 10%;
    }

    .logo {
        width: 70%;
        margin: 5em auto;
    }
    .outline {
        margin: 0.75em 10% !important;
        padding: 0.25em;
        background-color: rgba(255, 255, 255, 0.7) !important;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .input-outline {
        &:hover {
            background: transparent;
            color: white;
        }
    }
    .bright-text {
        color: white;
        cursor: pointer;
    }
    .bottom {
        margin-top: 5em;
        h5 {
            padding: 2em 0;
        }
    }
}