.profile {
    md-list-item {
        margin: auto 10%;
        padding: 10px !important;
        margin-bottom: 15px;
        .md-avatar {
            box-shadow: 1px 2px 10px black;
            width: 30vw;
            height: 30vw;
            max-width: 200px;
            max-height: 200px;
            margin-right: 25px;
        }
        p {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .outline {
        margin: 0.75em 10% !important;
        padding: 0.25em;
        background-color: rgba(255, 255, 255, 0.7) !important;
    }

    .statistics {
        background: transparent;
        padding: 50px 0 100px;
    }
}