<div class="collectiondetail" ng-controller="CollectionDetailCtrl as collectiondetail">

    <img ng-src="{{selectedPicture.path}}">

    <md-list class="md-dense" flex>
        <md-list-item ng-repeat="n in [1,2,3]">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Creative-Tail-People-businness-man.svg/128px-Creative-Tail-People-businness-man.svg.png" class="md-avatar"/>
            <span>{{loggedInUser.name}}</span>
        </md-list-item>
    </md-list>

</div>
