<div class="collectiondetail" ng-controller="CollectionDetailCtrl as collectiondetail">

    <img ng-src="{{selectedPicture.src}}">

    <h3>How good is your outfit?</h3>

    <div id="container">
        <div id="bar-1" class="bar-main-container">
            <div class="wrap">
                <div class="bar-percentage">
                    <p>{{(selectedPicture.votes[0]/(selectedPicture.votes[0]+selectedPicture.votes[1])*100) | number: 0}}%</p>
                </div>
                <div class="bar-container">
                    <div class="bar"
                         ng-style="{'width' : (selectedPicture.votes[0]/(selectedPicture.votes[0]+selectedPicture.votes[1])*100) + '%' }"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- profile pics of people who liked the image -->
    <!--<md-list class="md-dense" flex>-->
    <!--<md-list-item ng-repeat="n in [1,2,3]">-->
    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Creative-Tail-People-businness-man.svg/128px-Creative-Tail-People-businness-man.svg.png" class="md-avatar"/>-->
    <!--<span>{{loggedInUser.name}}</span>-->
    <!--</md-list-item>-->
    <!--</md-list>-->

</div>
