<md-content class="md-padding community">
    <div id="content" pull-to-refresh update-fn="pullImage()" >
         <!--Content that should be draggable for refreshing goes in here-->
        <!--<button style="height: 40px; width: 80px" ng-click="pullImage()">Load new Image</button>-->
        <md-list flex>
            <md-list-item ng-repeat="picture in pictures" class="secondary-button-padding"
                          ng-click="showCommunityDetail(picture)">
                <p class="name">{{picture.creatorNickname}}</p>
                <img ng-src="{{picture.src}}">
            </md-list-item>
        </md-list>
    </div>

    <webcam></webcam>
</md-content>
