<div ng-controller="ProfileCtrl as profile" class="profile">
    <md-list-item class="md-3-line">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Creative-Tail-People-businness-man.svg/248px-Creative-Tail-People-businness-man.svg.png" class="md-avatar" alt="Profile Picture"/>
        <div class="md-list-item-text">
            <h2>{{loggedInUser.username}}</h2>
            <p>{{loggedInUser.email}}</p>
            <h3>Ingolstadt</h3>
        </div>
    </md-list-item>

    <div layout="column">
        <md-button class="md-raised outline" ng-click="giveFeedback()">Give Feedback</md-button>
        <md-button class="md-raised outline" ng-click="inviteFriends()">Invite Friends</md-button>
        <md-button class="md-raised outline" ng-click="logout()">Logout</md-button>

        <!-- Stuff below is just for testing and can be deleted after Implementing the functions in the right views-->
        <!--<md-button class="md-raised outline" ng-click="testRegister()">testRegister</md-button>-->
        <!--<md-button class="md-raised outline" ng-click="testLogin()">testLogin</md-button>-->
        <!--<input id="imageUpload" type="file" name="photo" accept="image/*">-->
        <!--<md-button class="md-raised outline" ng-click="testUploadImage()">testUploadImage</md-button>-->
        <!--<md-button class="md-raised outline" ng-click="testPullImage()">testPullImage</md-button>-->
        <!--<md-button class="md-raised outline" ng-click="testUploadVote()">testUploadVote</md-button>-->
        <!--<md-button class="md-raised outline" ng-click="testPullVote()">testPullVote</md-button>-->
        <!-- End of test Stuff-->
    </div>

    <div layout="row" layout-align="space-between stretch">
        <div flex="5"></div>
        <div flex="80">
            <div class="statistics">
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
            </div>
        </div>
        <div flex></div>
    </div>
</div>
